## Cleaning datasets

Import dependencies:

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
import json

---

### Dataset 1: Annual deforestation 
*type: json*

In [9]:
with open('annual-deforestation-of-change-1.json') as json_file:
    data = json.load(json_file)
  
    # Print the type of data variable
    # print("Type:", type(data)) ; it's a list
    
deforest_raw_data = pd.Series(data) 

# deforest_data[0] ; after peeking at this we can see it is just some metadata
deforest_raw_data = deforest_raw_data.drop(0) # drops metadata
deforest_data = deforest_raw_data[1]


deforest_df = pd.DataFrame(deforest_data)
deforest_df.columns

Index(['indicator', 'country', 'countryiso3code', 'date', 'value', 'unit',
       'obs_status', 'decimal'],
      dtype='object')

In [10]:
deforest_df['indicator']

0       {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
1       {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
2       {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
3       {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
4       {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
                              ...
2571    {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
2572    {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
2573    {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
2574    {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
2575    {'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...
Name: indicator, Length: 2576, dtype: object

In [11]:
deforest_df['indicator'][0]

{'id': 'ER.FST.DFST.ZG', 'value': 'Annual deforestation (% of change)'}

In [12]:
deforest_df.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...","{'id': '', 'value': 'East Asia & Pacific (IBRD...",,2017,NaN,,,0
1,"{'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...","{'id': '', 'value': 'East Asia & Pacific (IBRD...",,2016,NaN,,,0
2,"{'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...","{'id': '', 'value': 'East Asia & Pacific (IBRD...",,2015,-0.467377,,,0
3,"{'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...","{'id': '', 'value': 'East Asia & Pacific (IBRD...",,2014,NaN,,,0
4,"{'id': 'ER.FST.DFST.ZG', 'value': 'Annual defo...","{'id': '', 'value': 'East Asia & Pacific (IBRD...",,2013,NaN,,,0

In [13]:
deforest_df = deforest_df.drop(['indicator','countryiso3code', 'obs_status'], axis=1)

In [14]:
deforest_df

,country,date,value,unit,decimal
0,"{'id': '', 'value': 'East Asia & Pacific (IBRD...",2017,NaN,,0
1,"{'id': '', 'value': 'East Asia & Pacific (IBRD...",2016,NaN,,0
2,"{'id': '', 'value': 'East Asia & Pacific (IBRD...",2015,-0.467377,,0
3,"{'id': '', 'value': 'East Asia & Pacific (IBRD...",2014,NaN,,0
4,"{'id': '', 'value': 'East Asia & Pacific (IBRD...",2013,NaN,,0
...,...,...,...,...,...
2571,"{'id': '', 'value': 'Zimbabwe'}",1994,NaN,,0
2572,"{'id': '', 'value': 'Zimbabwe'}",1993,NaN,,0
2573,"{'id': '', 'value': 'Zimbabwe'}",1992,NaN,,0
2574,"{'id': '', 'value': 'Zimbabwe'}",1991,NaN,,0
2575,"{'id': '', 'value': 'Zimbabwe'}",1990,NaN,,0

In [22]:
# need to clean country data

In [18]:
type(deforest_df['country'][0])

dict